<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" type="image/png" href="{ROOT_PATH}/favicon.png" />
		<if cond="isset({$REDIRECT_TIME})">
			<meta http-equiv="refresh" content="{REDIRECT_TIME};url={REDIRECT_URL}" />
		</if>
		<title>{TITLE}</title>
		<script type="text/javascript" src="{ROOT_PATH}/js/jquery-1.6.2.js"></script>
		<script type="text/javascript" src="{ROOT_PATH}/js/script.js"></script>
		<link href="{ROOT_PATH}/styles/base.css" rel="stylesheet" type="text/css" media="all" />
		<link href="{ROOT_PATH}/styles/default.css" rel="stylesheet" type="text/css" media="all" />
	</head>
	<body>
		<table id="main">
			<tr>
				<th colspan="2">{TITLE}
					<if cond="!empty({$SUB_TITLE})">
						/ {SUB_TITLE|desunderscored}
					</if>
				</th>
			</tr>
			<tr>
				<td colspan="2" id="tabs">
					<span<if cond="{$IN_ACCOUNT} == true"> class="active"</if>><a href="{ROOT_PATH}/account" title="">{LANG['my-account']}</a></span>
					<span<if cond="{$IN_POST} == true"> class="active"</if>><a href="{ROOT_PATH}/post" title="">{LANG['posts']}</a></span>
					<span<if cond="{$IN_HELP} == true"> class="active"</if>><a href="{ROOT_PATH}/help" title="">{LANG['help']}</a></span>
					<if cond="!empty({$IS_ADMIN})">
						<span<if cond="{$IN_ADMIN} == true"> class="active"</if>><a href="{ROOT_PATH}/admin" title="">{LANG['admin']}</a></span>
					</if>
				</td>
			</tr>
			<tr>
				<require tpl="{$MODULE}" />
			</tr>
			<tr>
				<td colspan="2" id="footer">
					Powered by <a href="http://www.witcherize.it" title="">witcherize</a> v0.1
				</td>
			</tr>
		</table>
	</body>
</html>
