<td colspan="2" id="connection">
	<h1>Connection</h1>
	<form action="{ROOT_PATH}/account/check" method="post">
		<p><label for="login">Name:</label> <input type="text" name="login" id="login" /></p>
		<p><label for="password">Password:</label> <input type="password" name="password" id="password" /></p>
		<p><label for="remember">Remember me?</label> <input type="checkbox" name="remember" id="remember" /></p>
		<p><input type="submit" value="Login" /></p>
		<p><a href="{ROOT_PATH}/account/register" title="">Register</a> - <a href="{ROOT_PATH}/account/lost+password" title="">Lost password</a></p>
	</form>
</td>
