<td id="tags">
	<h3>{LANG['search']}</h3>
	<div id="search">
		<form action="{ROOT_PATH}/search" method="post" onsubmit="return check_for_illegal_input('input-search');">
			<input type="text" name="keyword" value="{SEARCH}" id="input-search" /><br />
			<input type="submit" value="{LANG['search']}" />
		</form>
	</div>
	<h3>{LANG['tags']}</h3>
	<ul class="left-menu-list">
	<foreach array="{$TAGS}">
		<li><a href="{ROOT_PATH}/post/{TAGS.value['name']}" style="color:{TAGS.value['color']}" title="">{TAGS.value['name']|desunderscored}</a> <span class="count">{TAGS.value['count']}</span></li>
	</foreach>
	</ul>
	<if cond="!empty({$IMAGEDATA})">
		<br />
		<h3>{LANG['statistics']}</h3>
		<ul class="left-menu-list">
			<li><strong>{LANG['date-posted']}</strong> {IMAGEDATA['created']}</li>
			<li><strong>{LANG['added-by']}</strong> <a href="{ROOT_PATH}/profile/{IMAGEDATA['username']}" title="">{IMAGEDATA['username']}</a></li>
			<li><strong>{LANG['image-size']}</strong> {IMAGEDATA['width']}x{IMAGEDATA['height']}</li>
		</ul>
		<br />
		<if cond="!empty({$IS_CONNECTED})">
			<h3>Gestion</h3>
			<ul class="left-menu-list">
				<li><a href="" id="edit-link" title="">Éditer</li>
				<if cond="!empty({$IS_MODO})">
					<li>Supprimer</li>
				</if>
			</ul>
		</if>
	</if>
</td>
<td id="image-rows">
<if cond="isset({$IMAGES})">
	<if cond="count({$IMAGES})">
		<foreach array="{$IMAGES}">
			<span class="outline-image"><a href="{ROOT_PATH}/post/{IMAGES.value['id']}" title=""><img src="{ROOT_PATH}/uploads/{IMAGES.value['dossier']}/th/{IMAGES.value['image']}" alt="" /></a></span>
		</foreach>
		<div id="pagination">
		<foreach array="{$PAGINATION}">
			{PAGINATION.val}
		</foreach>
		</div>
	<else />
		<div id="message">{LANG['no-images-found']}</div>
	</if>
<else />
	<img src="{ROOT_PATH}/uploads/{IMAGEDATA['dossier']}/<if cond="{$IMAGEDATA['has_sample']}">samples/</if>{IMAGEDATA['image']}" alt="" />
	<div id="image-data">
		<h2>{LANG['edit-image']}</h2>
		<form action="{ROOT_PATH}/image/edit/{IMAGEDATA['id']}" method="post">
			<textarea name="tags">{TAGS_LIST}</textarea>
			<p><input type="submit" value="Envoyer" /></p>
		</form>
	</div>
</if>
</td>
