<td id="tags">
	<h3>Search</h3>
	<div id="search">
		<form action="{ROOT_PATH}/search" method="post">
			<input type="text" name="keyword" value="{SEARCH}" /><br />
			<input type="submit" value="Search" />
		</form>
	</div>
	<h3>Tags</h3>
	<ul id="tag-list">
	<foreach array="{$TAGS}">
		<li><a href="{ROOT_PATH}/post/{TAGS.value['name']}" style="color:{TAGS.value['color']}" title="">{TAGS.value['name']}</a> <span class="count">{TAGS.value['count']}</span></li>
	</foreach>
	</ul>
	<if cond="isset({$SUBMENU})">
		<require tpl="{$SUBMENU}" />
	</if>
</td>
<td id="image-rows">
<if cond="isset({$IMAGES})">
	<if cond="count({$IMAGES})">
		<foreach array="{$IMAGES}">
			<span class="outline-image"><a href="{ROOT_PATH}/post/{IMAGES.value['id']}" title=""><img src="{ROOT_PATH}/uploads/{IMAGES.value['dossier']}/th/{IMAGES.value['image']}" alt="" /></a></span>
		</foreach>
		<div id="pagination">
		<foreach array="{$PAGINATION}">
			{PAGINATION.val}
		</foreach>
		</div>
	<else />
		<div id="message">No pictures found.</div>
	</if>
<else />
	<img src="{ROOT_PATH}/uploads/{IMAGEDATA['dossier']}/{IMAGEDATA['image']}" alt="" />
</if>
</td>
