<td colspan="2" id="register">
	<h1>{LANG['register-title']}</h1>
	<form action="{ROOT_PATH}/account/register" method="post">
		<p><label for="name">{LANG['name-label']}</label> <input type="text" name="name" id="name" /></p>
		<p><label for="password">{LANG['password-label']}</label> <input type="text" name="password" id="password" /></p>
		<p><label for="email">{LANG['email-label']}</label> <input type="text" name="email" id="email" /></p>
		<p><input type="submit" value="{LANG['register-button']}" /></p>
	</form>
</td>
